{{#if isSecondary}}
    {{#foreach navigation }}
    <a href="{{url absolute="true"}}" class="{{#if current}} active{{/if}}">{{label}}</a>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="hidden lg:inline {{#if current}} active{{/if}}">{{label}}</a>
    {{/foreach}}
{{/if}}
