<div class="notification fixed bg-gray-600 z-30 w-full hidden">
    <div class="max-w-screen-lg mx-auto py-3 px-3 sm:px-6 lg:px-8 relative">
        <div class="pr-16 sm:text-center sm:px-16">
            <p class="font-medium text-white notification-subscribe-success hidden">{{t "You've successfully subscribed!"}}</p>
            <p class="font-medium text-white notification-subscribe-failed hidden">{{t "Error! Your link has expired"}}</p>
            <p class="font-medium text-white notification-signin-success hidden">{{t "Welcome back! You've successfully signed in"}}.</p>
            <p class="font-medium text-white notification-signin-failed hidden">{{t "Error! Your link has expired"}}.</p>
            <p class="font-medium text-white notification-signup-success hidden">{{t "You've successfully subscribed!"}}</p>
            <p class="font-medium text-white notification-signup-failed hidden">{{t "Error!"}}</p>
            <p class="font-medium text-white notification-checkout-success hidden">{{t "Top! Your account is fully activated, you now have access to all private content"}}</p>
        </div>
        <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
            <button type="button" class="close flex p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-gray-800 transition ease-in-out duration-150" aria-label="Dismiss">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
    </div>
</div>
