{{#is "tag"}}

<nav class="mb-4 whitespace-no-wrap overflow-x-auto overflow-y-hidden">
    <ol class="list-none p-0 inline-flex">
        <li class="flex items-center">
            <a href="/">{{ t "Home" }}</a>
            {{> "icons/chevron" }}
        </li>
        <li class="flex items-center">
            <a href="/categories/">{{t "Categories"}}</a>
            {{> "icons/chevron" }}
        </li>
        <li class="flex items-center">
            {{#if prev}}
                {{#tag}}<a href="{{url}}" aria-current="page">{{name}}</a>{{/tag}}
            {{else}}
                <a href="{{url}}" class="text-gray-500" aria-current="page">{{#tag}}{{name}}{{/tag}}</a>
            {{/if}}
            <span class="hidden{{prev}}">{{> "icons/chevron" }}</span>
        </li>
        <li class="hidden{{prev}}">
            <a href="#" class="text-gray-500" aria-current="page">{{page}}</a>
        </li>
    </ol>
</nav>

<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</div>

<nav class="grid grid-cols-3 mt-4">
    <div class="flex">
        {{#if prev}}
            <a href="{{page_url prev}}" class="inline-flex items-center text-sm font-medium hover:text-white">{{> "icons/prev" }} {{t "Previous"}}</a>
        {{/if}}
    </div>
    <div class="flex justify-center hidden{{next}}{{prev}}">
        <span class="text-sm">&nbsp;{{t "Page {page} of {pages}" page=page pages=pages}}&nbsp;</span>
    </div>
    <div class="flex justify-end">
        {{#if next}}
            <a href="{{page_url next}}" class="inline-flex items-center text-sm font-medium hover:text-white">{{t "Next"}} {{> "icons/next" }}</a>
        {{/if}}
    </div>
</nav>

{{else}}

{{#get "posts" limit=@config.posts_per_page page=page filter="tag:-nofeed" include="tags,authors" as |articles pages|}}
<nav class="mb-4">
    <ol class="list-none p-0 inline-flex">
        <li class="flex items-center">
            <a href="/">{{ t "Home" }}</a>
            {{> "icons/chevron" }}
        </li>
        <li class="flex items-center">
            <a href="/categories/">{{t "Categories"}}</a>
            {{> "icons/chevron" }}
        </li>
        <li class="flex items-center">
            <a href="/all" class="text-gray-500{{pages.prev}}" aria-current="page">{{t "All posts"}}</a>
            <span class="hidden{{pages.prev}}">{{> "icons/chevron" }}</span>
        </li>
        <li class="hidden{{pages.prev}}">
            <a href="#" class="text-gray-500" aria-current="page">{{pages.page}}</a>
        </li>
    </ol>
</nav>

<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</div>

<nav class="grid grid-cols-3 mt-4">
    <div class="flex">
        {{#if pages.prev}}
            <a href="{{page_url pages.prev}}" class="inline-flex items-center text-sm font-medium hover:text-white">{{> "icons/prev" }} {{t "Previous"}}</a>
        {{/if}}
    </div>
    <div class="flex justify-center hidden{{pages.next}}{{pages.prev}}">
        <span class="text-sm">&nbsp;{{t "Page {page} of {pages}" page=pages.page pages=pages.pages}}&nbsp;</span>
    </div>
    <div class="flex justify-end">
        {{#if pages.next}}
            <a href="{{page_url pages.next}}" class="inline-flex items-center text-sm font-medium hover:text-white">{{t "Next"}} {{> "icons/next" }}</a>
        {{/if}}
    </div>
</nav>
{{/get}}

{{/is}}
