<article class="border border-gray-800 hover:border-gray-700 relative hover:text-white">
    <a href="{{#if url}}{{url}}{{else}}/all{{/if}}" class="h-48 flex flex-col justify-center bg-cover bg-center" style="background-image: url({{img_url feature_image size="m"}})">
        {{#has visibility="paid"}}
            <span class="absolute right-0 top-0 p-2 z-10" title="Private post">
                {{> "icons/lock" }}
            </span>
        {{/has}}

        <div class="absolute inset-0 bg-gray-900 opacity-70"></div>
        <span class="transform text-center font-bold px-4 {{class}}">{{title}}</span>
    </a>
</article>
