<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{> "notification"}}
    {{> "modal"}}

    <header class="flex shadow-lg fixed top-0 inset-x-0 h-16 items-center z-20 bg-gray-900">
        <div class="container m-auto flex items-center justify-between flex-wrap px-4 lg:max-w-screen-md">
            <a href="/" class="text-black hover:text-black">
                <div class="flex items-center">
                    <img src="{{@site.logo}}" alt="logo" class="rounded-full w-12" />
                    <div class="ml-2 text-white">
                        <div class="font-bold leading-none">{{@site.title}}</div>
                        <div class="text-sm leading-none">{{@site.description}}</div>
                    </div>
                </div>
            </a>
            <div class="grid grid-flow-col gap-4 items-center">
                {{navigation}}
                {{#if @member}}
                    <div class="relative inline-block text-left">
                        <div>
                            <span class="rounded-md shadow-sm">
                                <button type="button" class="border rounded-md px-3 py-1 hover:border-white focus:hover-white focus:outline-none inline-flex justify-center w-full items-center" id="options-menu" aria-haspopup="true" aria-expanded="true">
                                    {{ t "My account" }}
                                    <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </span>
                        </div>

                        <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg menu hidden">
                            <div class="rounded-md bg-gray-900 shadow-xs border" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                <div class="px-4 py-3">
                                    <p class="text-sm leading-5">{{ t "Signed in as" }}</p>
                                    <p class="text-sm leading-5 font-medium truncate">{{@member.email}}</p>
                                </div>
                                <div class="border-t border-gray-300"></div>
                                <a href="{{@site.url}}/account/" class="block px-4 py-2 text-sm leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">{{ t "Account" }}</a>
                                <a href="/" data-members-signout class="block px-4 py-2 text-sm leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 rounded-b-md" role="menuitem">{{ t "Log out" }}</a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{!--  <a href="/signin">{{ t "Login" }}</a>  --}}
                    <a href="#subscribe" class="border rounded-md px-3 py-1 hover:border-white subscribe">{{ t "Subscribe" }}</a>
                {{/if}}

            </div>
        </div>
    </header>

    <main>{{{body}}}</main>

    <footer>
        <div class="container m-auto px-4 py-8 flex items-center justify-between flex-wrap lg:max-w-screen-md">
            <div><span class="inline-block transform rotate-180 align-middle">&copy;</span> 2017-{{date format="YYYY"}}</div>
            <nav class="grid grid-flow-col gap-2 items-center">
                {{navigation type="secondary"}}
                <a href="https://twitter.com/_johackim" target="_blank" rel="noopener">
                    {{> "icons/twitter" }}
                </a>
                <a href="https://mastodon.ethibox.fr/@johackim" target="_blank" rel="noopener">
                    {{> "icons/mastodon" }}
                </a>
                <a href="https://t.me/johackim" target="_blank" rel="noopener">
                    {{> "icons/telegram" }}
                </a>
                <a href="https://github.com/johackim" target="_blank" rel="noopener">
                    {{> "icons/github" }}
                </a>
                <a href="mailto:contact@johackim.com" target="_blank" rel="noopener">
                    {{> "icons/envelope" }}
                </a>
                <a href="/rss/" target="_blank" rel="noopener">
                    {{> "icons/rss" }}
                </a>
            </nav>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{asset "built/script.js"}}"></script>
    <script src="{{asset "built/prism.js"}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    {{ghost_foot}}
</body>
</html>
